@import "null.scss";

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-image: url('../img/01.jpeg');
    min-height: 830px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 329px) {
        padding: 0;
    }
}

.header {
    padding: 20px 0;
    margin: 0 0 50px 0;
    width: 100%;
    border-bottom: 1px solid rgba(250, 250, 210, 0.5);
    display: flex;
    justify-content: left;

    &__body {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 50px;
        height: 50px;
        margin: 0 20px 0 30px;
    }

    &__logo {
        font-size: 20px;
        font-weight: 500;
    }
}

.page {
    padding: 0 0 80px 0;
    min-height: 800px;

    &__body {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

    &__calc {
        margin: 0 30px 0 0;
    }
}

.calc {

    &__title {
        font-size: 28px;
        text-align: center;
        margin: 0 0 35px 0;
        font-weight: 500;
    }

    &__wrapper {
        background-color: 	rgba(255, 255, 224, 0.5);
        border-radius: 10px;
        padding: 15px;
    }

    &__room {
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
    }

    &__paper {
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
    }

    &__btn {
        justify-content: center;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        transition: all 0.3s ease 0s;
        border-radius: 10px;
        background-color: #4682B4;
        padding: 15px;
        color: #fff;
        &:hover {
            background-color: #3572A4;
        }
    }
}

.title {
    font-size: 26px;
    margin: 0 0 15px 0;
}

.room {

    &__title {
    }

    &__param {
    }
}

.param {

    &__measure {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 18px;
        margin: 0 15px 0 0;
    }

    &__calc {
        height: 30px;
        margin: 0 5px 0 0;
        padding: 0 0 0 15px;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__dimension {
        font-size: 18px;
    }
}

.paper {

    &__title {
    }

    &__param {
    }
}

.footer {
    padding: 20px;
    width: 100%;
    border-top: 1px solid rgba(250, 250, 210, 0.5);
    display: flex;
    justify-content: center;
    &__body {
    }

    &__text {
    }
}

.calc {
    &__btn {
    }

    &__result {
        margin: 20px 0 0 0;
    }
}
.result {

    &__amount {
        font-size: 18px;
        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
        span {
            color: 	#483D8B;
            font-size: 22px;
            font-weight: 700;
        }
    }
}


