.calendar {

    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        @include adaptive-value("padding-top", 76, 30, 1);
        @include adaptive-value("padding-bottom", 76, 30, 1);
        @media (max-width: $md3 + px) {
            flex-direction: column;
        }
    }

    &__img {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }

    &__example {
        // background-size: contain;
        // max-width: 400px;
        // padding: 0 0 40% 0;
        // width: 400px;
        // display: flex;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 400px;
        margin: 0 auto;
        &:not(:last-child) {
            padding: 0 0 10px 0;
        }

        &-img {
            width: 100%;
            max-height: 224px;
            z-index: 30;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        @media (max-width: $md3 + px) {
            margin: 20px 0 0 0;
        }
    }

    &__info {
    }

    &__hr { 
        height: 1px;
        width: 20%;
        background-color: #fff;
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }

    &__buy {
    }
}

.info-calendar {
    &:not(:last-child) {
        @include adaptive-value("margin-bottom", 25, 18, 1);
    }

    &__title {
        color: $textColor;
        font-weight: 600;
        @include adaptive-value("font-size", 22, 18, 1);
        line-height: 120%;
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 25, 18, 1);
        }
    }

    &__text {
        color: $textColor;
        @include adaptive-value("font-size", 18, 16, 1);
        line-height: 120%;
    }
}

.buy-calendar {

    &__text {
        color: $textColor;
        @include adaptive-value("font-size", 18, 14, 1);
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__btn {
        background-color: #b11c88;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        padding: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .3s ease 0s;
        cursor: pointer;
        width: 50%;
        font-weight: 500;
        &:hover {
            background-color: #9D1979;
        }
        @media (max-width: $md3 + px) {
            padding: 15px;
            width: 100%;
        }
        @media (max-width: $md4 + px) {
            padding: 10px;
            width: 100%;
        }
    }
}

.medium-zoom-overlay {
    background-image: url('../img/bg.jpeg') !important;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
}

