// @mixin font($font_name, $file_name, $weight, $style) {
//     @font-face {
//     font-family: $font_name;
//     font-display: swap;
//     src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//     font-weight: #{$weight};
//     font-style: #{$style};
//     }
//  }

// @import "fonts" ;
@import "mixin.scss";
@import "adaptive-value.scss";
@import "fonts.scss";
@import "null.scss";
@import "header.scss";
@import "footer.scss";


$mainColor: #1f2229;
$greenColor: #39FCA6;

$fontFamilyMain: 'Tele2DisplaySerif';
$fontFamilyOther: 'tele2_textsans';
$fontSize: 14px;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170; // ширина 1240px, но добавляем еще 30px
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md3: 479.98;
$md4: 425.98;

body {
    font-family: $fontFamilyMain;
    font-size: $fontSize;
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}

.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
    
.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.container {
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 40px;
}



.page {

    &__top {
        @media (max-width: 597.98px) {
            background-color: #1f2229;
        }
    }

    &__steps {
    }

    &__info {
    }
}

.top { 
    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 30px 0 30px 0;
        background-image: url('../img/doc4fixed.png');
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        @media (max-width: 853.98px) {
            background-image: url('../img/doc-small-fixed.png');
        }
        @media (max-width: 597.98px) {
            background-image: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
    }

    &__title {
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        @include adaptive-value("font-size", 55, 20, 1);
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
        @media (max-width: 597.98px) {
            color: #fff;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        color: #8f9399;
        width: 50%;
        font-family: $fontFamilyOther;
        a {
            text-decoration: underline;
            color: #8f9399;
        }
        @media (max-width: 597.98px) {
            color: #8f9399;
        }
        @media (max-width: 479.98px) {
            width: 100%;
        }
    }

    &__btn {
        background: transparent;
        border: 2px solid #1f2229;
        font-family: 'tele2_textsans';
        width: 50%;
        padding: 19px 45px;
        color: #000;
        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
        &:hover {
            border: 2px solid #838383;
            color: #838383;
        }

        @media (max-width: 841.98px) {
            width: 70%;
        }
        @media (max-width: 597.98px) {
            border: 2px solid #fff;
            color: #fff;
        }
        @media (max-width: 597.98px) {
            width: fit-content;
        }
        
    }

    &__pictire {
        flex: 1 1 50%;
        @media (max-width: 597.98px) {
            display: none;
        }
    }

    &__img {
        z-index: 15;
        padding: 0 0 70% 0;
        @media (max-width: 767.98px) {
            padding: 0 0 80% 0;
        }
    }
}

.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-bottom: 200px solid $greenColor;
    border-left: 750px solid transparent;
    @media (max-width: 991.98px) {
        border-bottom: 150px solid $greenColor;
        border-left: 500px solid transparent;
    }
    @media (max-width: 767.98px) {
        border-bottom: 140px solid $greenColor;
        border-left: 400px solid transparent;
    }
    @media (max-width: 554.98px) {
        border-bottom: 100px solid $greenColor;
        border-left: 300px solid transparent;
    }
    @media (max-width: 479.98px) {
        border-bottom: none;
        border-left: none;
    }
}


.steps {
    padding: 30px 0 30px 0;

    &__container {
    }

    &__body {
        display: grid;
        gap: 38px;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }

    &__point {
    }
}


.point {
    display: flex;
    flex-direction: column;
    @media (max-width: 637px) {
        flex-direction: row;
        align-items: center;
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        width: 64px;
        height: 64px;
        background-color: #f5f5fa;
        border-radius: 50%;
        font-weight: 700;
        font-size: 30px;
        margin: 0 0 32px 0;
        @media (max-width: 637px) {
            margin: 0 15px 0 0;
            flex: 0 0 auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__title {
        font-weight: 700;
        @include adaptive-value("font-size", 22, 18, 1);
        line-height: 120%;
        display: flex;
        flex: 1 1 auto;
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__text {
        font-family: $fontFamilyOther;
        text-align: left;
        font-size: 17px;
        line-height: 120%;
        color: $mainColor;
    }
}

.info {
    padding: 30px 0;

    &__container {
    }

    &__body {
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__title {
        @include adaptive-value("font-size", 40, 24, 1);
        line-height: 120%;
        color: $mainColor;
        font-weight: 700;
        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    &__wrap {
        padding: 32px;
        border-radius: 8px;
        border: 1px solid #e9edf3;
    }

    &__field {
        border-bottom: 2px solid #000;
        padding: 22px 16px 6px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
    }

    &__input {
        width: 100%;
        line-height: 120%;
        padding: 0 0 10px 0;
        background-color: transparent;
        @include adaptive-value("font-size", 18, 14, 1);
    }

    &__icon {
        font-size: 16px;
        color: $mainColor;
    }

    &__submit {
        display: flex;
        align-items: center;
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    &__btn {
        color: #fff;
        font-family: $fontFamilyOther;
        background-color: $mainColor;
        transition: all 0.3s ease 0s;
        font-size: 17px;
        padding: 19px 45px;
        @media (max-width: 372px) {
            width: 100%;
        }
        &:not(:last-child) {
            margin: 0 15px 0 0;
        }
        @media (max-width: 767.98px) {
            &:not(:last-child) {
                margin: 0 0 15px 0;
            }
        }
        &:hover {
            background-color: #838383;
        }
    }

    &__text {
        line-height: 120%;
        color: #8f9399;
        font-family: $fontFamilyOther;
        a {
            color: #8f9399;
            text-decoration: underline;
            transition: color 0.3s ease 0s;
            &:hover {
                color: $mainColor;
            }
        }
        @media (max-width: 767.98px) {
            max-width: 500px;
            text-align: left;
        }
    }
}







